black~=22.3.0
scikit-learn>=0.24.1
numpy>=1.19.5
pandas>=1.1.5
nltk~=3.6.1
gensim==4.1.2
tika==1.24
faiss-cpu~=1.7.0
torch~=1.10.0
transformers~=4.12.5
tqdm~=4.59.0
tokenizers~=0.10.3
scipy~=1.8.0
pyyaml~=6.0
omegaconf~=2.1.1
faiss~=1.6.3